parameters:
	level: 9
	paths:
		- src
	ignoreErrors:
		- '#Parameter \#1 \$data of method App\\Service\\Mailer::sendEmail\(\) expects App\\Entity\\Contact, mixed given.#'
		- '#Call to an undefined method Faker\\Generator.*#'
