{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    <h2>Formulaire de contact</h2>
    <div class="contact">
        <p style="margin-top:2em">Merci pour votre message.</p>
    </div>
{% endblock %}