{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    <h2>Formulaire de contact</h2>
    <div class="contact-message alert alert-success">
        Merci pour votre message.
    </div>
{% endblock %}